/* _________________________ DEFAULT _________________________ */

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Muller', sans-serif, Verdana, Geneva, Tahoma;
    font-weight: 400;
    background-color: var(--color_gray-1);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

input {
    border: none;
    outline: none;
    background: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}